# Feature Engineering

---

1. Import packages
2. Load data
3. Feature engineering


## 1. Import packages
---

In [2]:
import pandas as pd


## 2. Load data

---

In [3]:
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/PowerCo_Project/PowerCo Data/powerco_data_post_eda.csv')
df["date_activ"] = pd.to_datetime(df["date_activ"], format='%Y-%m-%d')
df["date_end"] = pd.to_datetime(df["date_end"], format='%Y-%m-%d')
df["date_modif_prod"] = pd.to_datetime(df["date_modif_prod"], format='%Y-%m-%d')
df["date_renewal"] = pd.to_datetime(df["date_renewal"], format='%Y-%m-%d')

In [4]:
df.head(3)

   Unnamed: 0                                id  ... ave_3m_price_midpeak  churn
0           0  24011ae4ebbe3035111d65fa7c15bc57  ...            10.910249      1
1           1  d29c2c54acc38ff3c0614d0a653813dd  ...             0.000000      0
2           2  764c75f661154dac3a6c254cd082ea7d  ...             0.000000      0

[3 rows x 54 columns]

---

## 3. Feature engineering

### Difference between off-peak prices in December and preceding January

Below is the code created by your colleague to calculate the feature described above. Use this code to re-create this feature and then think about ways to build on this feature to create features with a higher predictive power.

In [7]:
price_df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/PowerCo_Project/PowerCo Data/price_data.csv')

price_df["price_date"] = pd.to_datetime(price_df["price_date"], format='%Y-%m-%d')
price_df.head()

                                 id  ... price_mid_peak_fix
0  038af19179925da21a25619c5a24b745  ...                0.0
1  038af19179925da21a25619c5a24b745  ...                0.0
2  038af19179925da21a25619c5a24b745  ...                0.0
3  038af19179925da21a25619c5a24b745  ...                0.0
4  038af19179925da21a25619c5a24b745  ...                0.0

[5 rows x 8 columns]

In [8]:
# Group off-peak prices by companies and month
monthly_price_by_id = price_df.groupby(['id', 'price_date']).agg({'price_off_peak_var': 'mean', 'price_off_peak_fix': 'mean'}).reset_index()

# Get january and december prices
jan_prices = monthly_price_by_id.groupby('id').first().reset_index()
dec_prices = monthly_price_by_id.groupby('id').last().reset_index()

# Calculate the difference
diff = pd.merge(dec_prices.rename(columns={'price_off_peak_var': 'dec_1', 'price_off_peak_fix': 'dec_2'}), jan_prices.drop(columns='price_date'), on='id')
diff['offpeak_diff_dec_january_energy'] = diff['dec_1'] - diff['price_off_peak_var']
diff['offpeak_diff_dec_january_power'] = diff['dec_2'] - diff['price_off_peak_fix']
diff = diff[['id', 'offpeak_diff_dec_january_energy','offpeak_diff_dec_january_power']]
diff.head()

                                 id  ...  offpeak_diff_dec_january_power
0  0002203ffbb812588b632b9e628cc38d  ...                        0.162916
1  0004351ebdd665e6ee664792efc4fd13  ...                        0.177779
2  0010bcc39e42b3c2131ed2ce55246e3c  ...                        1.500000
3  0010ee3855fdea87602a5b7aba8e42de  ...                        0.162916
4  00114d74e963e47177db89bc70108537  ...                       -0.000001

[5 rows x 3 columns]